<div class="login-form">    
    <form #frm="ngForm" (ngSubmit)="save(frm.value)">
		<div class="avatar"><i class="ti-user"></i></div>
    	<h4 class="modal-title">Login to Your Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name = "username" ngModel>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name = "password" required="required" ngModel>
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline"><input type="checkbox">Remember me</label>
            <a href="#" class="forgot-link">Forgot Password?</a>
        </div> 
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
    </form>			
   <!--  <div class="text-center small">Don't have an account? <a href="#">Sign up</a></div> -->
</div>