 <div class="container-fluid">
 <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">Add Labs</h4>
                            <!-- <p class="category">A new registeraion of the doctor.</p> -->
                        </div>

                    </div>
                </div>      
               <!--  <pre>{{GetLabsList |json}}</pre>         -->
            <div class="content">
                <form  #f="ngForm" (ngSubmit)="edit(f.value,GetLabsList._id)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control border-input" placeholder="Name" value="" name="name" [(ngModel)]="GetLabsList.name">
                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control border-input" placeholder="Title" value="" name="title" [(ngModel)]="GetLabsList.title">
                            </div>
                        </div>
                      
                    </div>     

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="" name = "about" [(ngModel)]="GetLabsList.about">></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button><span style="margin-right:5px;"></span>
                         <button type="submit" class="btn btn-info btn-fill btn-wd" routerLink="/labs" routerLinkActive="active">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>