<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                           
                            <h4 class="title">Labs List</h4>
                            <!-- <p class="category">a list of all available doctors</p> -->
                        </div>
                        <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/labs/add" routerLinkActive="active">Add Labs</button>
                            </div>
                            
                        </div>
                        <!-- <pre>{{labs.dataRows |json}}</pre> -->
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of labs.headerRow">{{cell}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of labs.dataRows">

                            	<td>{{row.name}}</td>
                            	<td>{{row.title}}</td>
                            	<td>{{row.about}}</td>
                                <td><button class="ti-pencil btn btn-info btn-fill" [routerLink]="['/labs/edit',row._id]"     
                                (click)="saveLabsListData(row._id)" routerLinkActive="active"></button></td>

                                <!-- <td *ngFor="let cell of row">{{cell}}</td>-->
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
