<div class="wrapper" >
    <div class="sidebar" data-background-color="white" data-active-color="danger" *ngIf="!isLoginRoute">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp *ngIf="!isLoginRoute"></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp *ngIf="!isLoginRoute"></footer-cmp>
    </div>
</div>
<!-- <fixedplugin-cmp *ngIf="!isLoginRoute"></fixedplugin-cmp>
 --><!-- <div *ngIf="isLoginRoute">
    <router-outlet></router-outlet>
</div> -->