 <div class="container-fluid">
 <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">Add Doctor</h4>
                            <p class="category">A new registeraion of the doctor.</p>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/doctors/add" routerLinkActive="active">Add Doctor</button>
                            </div>
                            
                        </div> -->
                    </div>
                </div>
                                <app-ngx-editor [config]="editorConfig" [(ngModel)]="htmlContent" name='formanme'></app-ngx-editor>
            <div class="content">
                <form  #f="ngForm" (ngSubmit)="add(f.value)">
                    <div class="row">
                         
                         <div class="col-md-5">
                            <div class="form-group">
                                <label>First Name</label>
                               
                                <input type="text" class="form-control border-input" placeholder="First Name" value="" name="first" ngModel>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control border-input" placeholder="Last Name" value="" name="last" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control border-input" placeholder="UserName" name="username" value="" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control border-input" placeholder="Email" name="email" value="" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control border-input" placeholder="Password"  name="password" value="" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Re-Password</label>
                                <input type="password" class="form-control border-input" placeholder="Re-Password" name="repassword" value="" ngModel>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Speciality</label>
<!--                                 <input type="text" class="form-control border-input" placeholder="Ex.- Dentist,Homoeopath,Ayurveda etc. " name="speciality" value="" ngModel>  -->
                             <ng-multiselect-dropdown class="form-control border-input" name="speciality" 
                              [data]="dropdownList"
                              [(ngModel)]="selectedItems"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                            >
                            </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control border-input" placeholder="Home Address" value="" name="address_line" ngModel>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Mobile</label>
                                <input type="text" class="form-control border-input" placeholder="Home Address" value="" name="Mobile" ngModel>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control border-input" placeholder="City" value="" name="city" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control border-input" placeholder="Country" value="" name="country" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" class="form-control border-input" placeholder="ZIP Code" name="postalcode" ngModel>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="" name = "about" ngModel></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Add</button><span style="margin-right:5px;"></span>
                         <button type="submit" class="btn btn-info btn-fill btn-wd" routerLink="/doctors" routerLinkActive="active">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>