<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                           
                            <h4 class="title">Doctors List</h4>
                            <p class="category">a list of all available doctors</p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/doctors/add" routerLinkActive="active">Add Doctor</button>
                            </div>
                            
                        </div>
                    </div>
                </div><!-- {{doctors.dataRows}} -->
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of doctors.headerRow">{{cell}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of doctors.dataRows">

                            	<td>{{row.name.first}}</td>
                            	<td>{{row.username}}</td>
                            	<td>{{row.type}}</td>
                            	<td>{{row.mobile}}</td>
                                <td><button class="ti-pencil btn btn-info btn-fill" [routerLink]="['/doctors/edit',row._id]"     
                                (click)="saveDoctorListData(row._id)" routerLinkActive="active"></button></td>

                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
