 <div class="container-fluid">
 <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">Edit Doctor</h4>
                            <p class="category">A new registeraion of the doctor.</p>
               			<!--  <pre>{{GetDoctorList |json}}</pre> -->
                        </div>                       
                    </div>
                </div>
            <div class="content">
                <form  #f="ngForm" (ngSubmit)="edit(f.value,GetDoctorList._id)">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control border-input" placeholder="First Name" value="" name="first" [(ngModel)]="GetDoctorList.name.first">                                
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control border-input" placeholder="Last Name" value="" name="last" [(ngModel)]="GetDoctorList.name.last">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control border-input" placeholder="UserName" name="username" value="" [(ngModel)]="GetDoctorList.username">
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Speciality</label>
								<!--                                 <input type="text" class="form-control border-input" placeholder="Ex.- Dentist,Homoeopath,Ayurveda etc. " name="speciality" value="" ngModel>  -->


                             <ng-multiselect-dropdown class="form-control border-input" name="speciality" 
                              [data]="dropdownList"
                              [(ngModel)]="GetDoctorList.speciality"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                            >
                            </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control border-input" placeholder="Home Address" value="" name="address" [(ngModel)]="GetDoctorList.address_line">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control border-input" placeholder="City" value="" name="city" [(ngModel)]="GetDoctorList.city">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control border-input" placeholder="Country" value="" name="country" [(ngModel)]="GetDoctorList.country">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" class="form-control border-input" placeholder="ZIP Code" name="postalcode" [(ngModel)]="GetDoctorList.zip_code">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="" name = "about" [(ngModel)]="GetDoctorList.about"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update</button><span style="margin-right:5px;"></span>
                         <button type="submit" class="btn btn-info btn-fill btn-wd" routerLink="/doctors" routerLinkActive="active">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>