 <div class="container-fluid">
 <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">TimeSlot</h4>
                            <p class="category">A Doctor's booked and free time slot of a week.</p>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/doctors/add" routerLinkActive="active">Add Doctor</button>
                            </div>
                            
                        </div> -->
                    </div>
                </div>
            <div class="content table-responsive table-full-width">
            <popover-content #myPopover 
                title="{{currentPatientDetail.patient_name}}" 
                placement="bottom"
                [animation]="true" 
                [closeOnClickOutside]="true" >
                <div class="row">
                    <div class="col-md-12">
                        Patient-Name:-{{currentPatientDetail.patient_name}}
                    </div>
                    <div class="col-md-12">
                        Patient-Mobile:-{{currentPatientDetail.patient_name}}
                    </div>
                    <div class="col-md-12">
                        Book Time:-{{currentPatientDetail.book_time}}
                    </div>
                </div>
            </popover-content>
               <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of timeslot.headerRow">{{cell}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of timeslot.dataRows">
                                <td>{{row.time}}</td>
                                <td *ngFor="let detail of row" style="border: 1px solid;">
<!-- <button [popover]="myPopover" (click)="setCurrentSlotPopup($event.target)">element on which this popover is applied.</button> -->
                                
                                <a   *ngIf="detail.patient_name" [popover]="myPopover" (click)="setCurrentSlotPopup(detail)">
                                    {{detail.patient_name}}
                                </a>
<!--                                 <a *ngIf="!detail.patient_name" >
                                    {{detail}}
                                </a>
 -->
                                </td>
<!--                                 <td>{{row[0].patient_name}}</td>
                                <td>{{row[1].patient_name}}</td>
                                <td>{{row[2].patient_name}}</td>
                                <td>{{row[3].patient_name}}</td>
                                <td>{{row[4].patient_name}}</td>
                                <td>{{row[5].patient_name}}</td>
                                <td>{{row[6].patient_name}}</td> -->

                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
