 <div class="container-fluid">
 <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">Add Hospital</h4>
                            <p class="category">A new registeraion of the Hospital.</p>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/doctors/add" routerLinkActive="active">Add Doctor</button>
                            </div>
                            
                        </div> -->
                    </div>
                </div>
            <div class="content">
                <form #f="ngForm" (ngSubmit)="add(f.value)">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Hospital Name</label>
                                <input type="text" class="form-control border-input" placeholder="Hospital Name" value="" name="hospitalname" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control border-input" placeholder="UserName" value="" name="username" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control border-input" placeholder="Email" name="email" ngModel>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mobile No.</label>
                                <input type="email" class="form-control border-input" placeholder="Mobile No." name="mobile" ngModel>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control border-input" placeholder="Password" value="" name="password" ngModel>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Re-Password</label>
                                <input type="password" class="form-control border-input" placeholder="Re-Password" value="" name="repassword" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control border-input" placeholder="Address" value="" name="address" ngModel>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control border-input" placeholder="Ciy" value="" name="city" ngModel>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control border-input" placeholder="State" value="" name="state" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control border-input" placeholder="Country" value="" name="country" ngModel>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" class="form-control border-input" placeholder="ZIP Code" name="postalcode" ngModel>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="" name="about" ngModel></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>