<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title">Hospital List</h4>
                            <p class="category">a list of all available hospitals</p>
                        </div>
                        <div class="col-md-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger btn-fill btn-wd" routerLink="/hospitals/add" routerLinkActive="active">Add Hospital</button>
                            </div>
                        </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of hospitals.headerRow">{{cell}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of hospitals.dataRows">
                            	<td>{{row.name}}</td>
                            	<td>{{row.username}}</td>
                            	<td>{{row.type}}</td>
                            	<td>{{row.mobile}}</td>

                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
