/* You can add global styles to this file, and also import other style files */
.btn {
border-radius: 2px
}

/*.dropdown-btn{
	padding: 0 !important;
	border: none !important;
}

.selected-item{
color: #66615b !important;
background: none !important;
border: none !important;
}
*/